rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write: if
    //       request.time < timestamp.date(2024, 11, 4);
    // }
    match /menu/{plato}{
      allow read;
      
      function validationAdmin() {
        if(request.auth.uid = administrador){
          allow write: if true;
        } else {
          allow write: if false;
        }
      }
    } 
  }
}

//* crear una regla 
/* 
*/
/*

match /menu/{plato}{
  allow read, write: if request.auth !== null;
} 
match /clientes/{cliente}{
  allow write: if request.auth.uid = cliente;
}
*/

