* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eff0f4;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}

.container2 .drop {
    position: relative;
    width: 400px;
    height: 450px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255,255, 255, 0.9);
    transition: 0.5s ease-in-out;
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57% ;
}

.container2 .drop:hover {
   border-radius: 50%; 
}

.container2 .drop::before {
    content: '';
    position: absolute;
    top: 70px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 2;
}

.container2 .drop::after {
    content: '';
    position: absolute;
    top: 110px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container2 .drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.container2 .drop .content img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eff0f4;
    box-shadow: inset 4px 10px 20px rgba(0, 0, 0, 0.1),
    inset -4px -10px 20px rgba(255, 255, 255, 1),
    30px 30px 20px rgba(0, 0, 0, 0.05),
    30px 20px 30px rgba(0, 0, 0, 0.025);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .drop .content p {
    position: relative;
    width: 300px;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .drop .content button {
    position: relative;
    padding: 10px 25px;
    background: #ff0f5b;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.025);
    opacity: 0.75;
    transition: 0.5s;
}

.container2 .drop .content button:hover{
    opacity: 1;
}

.container2 .drop .content button::before{
    content: '';
    position: absolute;
    width: 65%;
    margin-bottom: 10px;
    height: 3px;
    border-radius: 5px;
    background: rgba(255,255, 255, 0.5);
}